$bg__color: #FBF6F6;
$font__color: #504949;

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-SemiBold.ttf');
    font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
body{
    font-family: Cormorant;
    color: $font__color;
    font-size: 18px;
    font-weight: 400;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    @media (max-width: 376px) {
        max-width: unset;
        padding: 0 37px;
    }
    @media (max-width: 1025px) {
        padding: 0 20px;
    }
}
.header{
    padding: 20px 0;
    @media (max-width:376px) {
        padding: 50px 0;
    }

    &__burger{
        display: none;
        @media (max-width:376px) {
            display: block;
        }
    }

    &__menu{
        display: flex;
        gap: 40px;
        @media (max-width:376px) {
            display: none;
        }
    }

    &__nav{
        display: flex;
        justify-content: flex-end;
    }

    &__link{
        color: $font__color;
        font-weight: 400;
    
        &:hover{
            font-weight: 600;
        }
    }

}
body{
    background-color: $bg__color;
}

.main{
    @media (max-width:1025px) {
        padding-bottom: 40px;
    }
    background-color: $bg__color;
    padding: 77px 0 122px 0;
    @media (max-width:376px) {
        padding: 10px 0;
    }

    &__text{
        margin-bottom: 20px;
        &_bold{
            font-weight: 600;
            margin-left: 107px;
            margin-bottom: 0px;
            @media (max-width:376px) {
                margin-left: 0;
                margin-bottom: 4px;
            }
        }
    }

    &__title{
        @media (max-width:1025px) {
            margin-bottom: 20px;
            margin-top: 5px;
            font-size: 62px;
        }
        font-weight: 600;
        font-size: 80px;
        @media (max-width:376px) {
            font-size: 40px;
            margin-bottom: 10px;
        }
        @media (max-width: 1025px) {
            margin-bottom: 20px;
        }
    }

    &__box{
        display: flex;
        gap: 80px;
        @media (max-width: 1025px) {
            gap: 40px;
        }
    }

    &__info{
        display: flex;
        gap: 40px;
        margin-bottom: 38px;
        @media (max-width:376px) {
            flex-wrap: wrap;  
            gap: 0; 
            column-gap: 50px;
            row-gap: 4px;  
            margin-bottom: 45px;  
        }
    }

    &__number{
        font-size: 50px;
    }

    &__photo{
        @media (max-width:1025px) {
            width: 50%;
            flex-shrink: 0;

            img {
                width: 100%;
            }
        }
        @media (max-width:376px) {
            display: none;

        }
        &-mobile{
            display: none;
            @media (max-width:376px) {
                display: block;
                width: 338px;
                margin-bottom: 35px;
                margin-right: -37px;
                & img{
                    width: 100%;
                }
            }
        }
    }

    &__subtitle{
        font-size: 40px;
        font-weight: 700;
        max-width: 517px;
        margin-bottom: 17px;
        @media (max-width:376px) {
                font-size: 30px;
                margin-bottom: 24px;
        }
    }
    &__item{
        max-width: 419px;
        margin-bottom: 10px;
        @media (max-width:376px) {
                max-width: 290px;       
        }
        &_one{
            display: flex;
            gap: 23px;
            align-items: end;
            &::before{
                content: '1';
                font-size: 50px;
                line-height: 0.8;
                @media (max-width:376px) {
                    margin-top: -10px;
            }
            }
            @media (max-width:376px) {
                align-items: flex-start;
        }
        }
        &_two{
            display: flex;
            gap: 23px;
            align-items: end;
            &::before{
                content: '2';
                font-size: 50px;
                line-height: 0.8;
                @media (max-width:376px) {
                    margin-top: -10px;
            }
            }
            @media (max-width:376px) {
                align-items: flex-start;
        }
        }
        &_three{
            display: flex;
            gap: 23px;
            align-items: end;
            &::before{
                content: '3';
                font-size: 50px;
                line-height: 0.8;
                @media (max-width:376px) {
                    margin-top: -10px;
            }
            }
            @media (max-width:376px) {
                align-items: flex-start;
        }
        }
        &_four{
            display: flex;
            gap: 23px;
            align-items: end;
            &::before{
                content: '4';
                font-size: 50px;
                line-height: 1;
                @media (max-width:376px) {
                    margin-top: -10px;
                }
            }
            @media (max-width:376px) {
                align-items: flex-start;
            }
        }
    }    
}

//program 

.program{
    background-color: #b59797;
    padding-top: 115px;
    padding-bottom: 160px;
    @media (max-width:1025px) {
        padding-top: 115px;
        padding-bottom: 160px;
    }
    @media (max-width:376px) {
        padding-bottom: 160px;
        padding-top: 115px;
    }
    &__title{
        font-size: 80px;
        color: white;
        @media (max-width:1025px) {
            font-size: 62px;
        }
        @media (max-width:376px) {
            font-size: 40px;
        }
    }
    &__items{
        margin-top: 27px;
        display: flex;
        flex-direction: column;
    }
    &__item{
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 18px 0;
        border-top: 1px solid white;
    &:last-child{
        border-bottom: 1px solid white;
        }
    p:first-child{
        align-items: center;
        display: flex;
    }
    p:last-child{
        margin-right: 7px;
        font-size: 30px;
    }
    }

}
.tariffs{
    background-color: #b59797;
    padding-left: 60px;
    &__wrap{
        background-color: $bg__color;
        padding-top: 120px;
        padding-bottom: 150px;
    }
    &__title{
        font-size: 80px;
        color: $font__color;
        margin-bottom: 25px;
   } 
    &__card-block{
        display: flex;
        align-items: center;
        gap: 40px;
        width: 100%;
    }
    &__card{
        background-color: #b59797;
        padding: 40px 32px 52px 32px;
        color: white;

        ul{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 15px;
        }

        li{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 8px;
        }

        li::before{
            content: "";
            display: block;
            width: 20px;
            height: 1px;
            background-color: #fff;        
        }

   }

   &__li_through{
    text-decoration: line-through;
}
   &__card-title{
    font-size: 20px;
    margin-bottom: 10px;
   }
   &__btn{
    padding: 17px 80px;
    background-color: #fff;
    border: 2px solid #8d6b5d;
    color: $font__color;
    width: max-content;
    margin-bottom: -77px;
    position: relative;
    right: -180px;
    width: 700;
   }
   &__info-text{
    position: relative;
    right: -280px;
    padding: 62px 32px;
    font-size: 20px;
    font-weight: 700;
   }
}

.end{
    margin-right: 300px;
    &__subtitle{
        font-size: 60px;
        font-weight: 700;
        max-width: 517px;
        margin-bottom: 17px;
        @media (max-width:376px) {
                font-size: 30px;
                margin-bottom: 24px;
        }
    }
    &__photo{

        @media (max-width:1025px) {
            width: 50%;
            flex-shrink: 0;

            img {
                width: 100%;
            }
        }
        @media (max-width:376px) {
            display: none;

        }
        &-mobile{
            display: none;
            @media (max-width:376px) {
                display: block;
                width: 338px;
                margin-bottom: 35px;
                margin-right: -37px;
                & img{
                    width: 100%;
                }
            }
        }
        &__box{
            display: flex;
            flex-direction: column;
            padding: 0 100px 0 0;
            @media (max-width: 1025px) {
                gap: 40px;
            }
        }
    }
    &__item{
        max-width: 419px;
        margin-bottom: 10px;
        @media (max-width:376px) {
                max-width: 290px;       
        }
        &_one{
            display: flex;
            gap: 23px;
            align-items: end;
            &::before{
                content: '1';
                font-size: 50px;
                line-height: 0.8;
                @media (max-width:376px) {
                    margin-top: -10px;
            }
            }
            @media (max-width:376px) {
                align-items: flex-start;
        }
        }
        &_two{
            display: flex;
            gap: 23px;
            align-items: end;
            &::before{
                content: '2';
                font-size: 50px;
                line-height: 0.8;
                @media (max-width:376px) {
                    margin-top: -10px;
            }
            }
            @media (max-width:376px) {
                align-items: flex-start;
        }
        }
        &_three{
            display: flex;
            gap: 23px;
            align-items: end;
            &::before{
                content: '3';
                font-size: 50px;
                line-height: 0.8;
                @media (max-width:376px) {
                    margin-top: -10px;
                }
            }
            @media (max-width:376px) {
                align-items: flex-start;
            }
        }
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        }
    &__block{
         padding: 0 0 0 100px;
         margin-bottom: 32px;
        }
    &__link{
        padding: 100px;
        color: black;
        font-weight: 600;
        text-decoration: underline;
        }
    &__button_items{
        background-color: #b59797;
        padding: 200px 400px;
        margin-top: 27px;
        display: flex;
        flex-direction: column;
        }
    &__button_item{
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        padding: 18px 0;
        
 
    p:first-child{
        align-items: center;
        display: flex;
        }
    p:last-child{
        margin-right: 7px;
        font-size: 30px;
        }
    }
    &__button_block{
        background-color: #b59797;
    }
}

.podval{
    &__end{
        background-color: #3C2A2A;
    }
    &__info{
        color: #FBF6F6;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        margin-block: 20px;
        gap: 260px;
        padding: 100px 0px;
    }
    &__list_img{
        display: flex;
        max-width: 20px;
        
    }
    &__img_width{
        display: flex;
        gap: 20px;
        max-width: 20px;
    }
    &_margin{
        margin-bottom: 30px;
    }
    &__list_header{
        margin-bottom: 30px;
    }
}

